.demo-w {
  padding: 24px;
}
.demo-c {
  margin-bottom: 40px;
  .antd-container-normal {
    background: #fffff0;
    span {
      background: #ff571d;
    }
  }
  .antd-container-grid {
    .ant-col-6 {
      div {
        background: #6095ff;
      }
    }
  }
  .antd-container-float {
    background: #fffff0;
  }
  .antd-container-float-left {
    background: #2bdb72;
  }
  .antd-container-float-right {
    background: #87db00;
  }
  .antd-container-flex {
    background: #fffff0;
    color: #fff;
    div:nth-child(1) {
      background: #989898;
    }
    div:nth-child(2) {
      background: #787878;
    }
    div:nth-child(3) {
      background: #565656;
    }
    div:nth-child(4) {
      background: #323232;
    }
  }
}
.demo-c-middle {
  .antd-container-flex {
    color: #454545;
  }
}
