.plus-antd-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.plus-antd-container-item {
  display: flex;
  & > * {
    width: 100%;
  }
}

.plus-antd-container-empty {
  border: 1px solid #999;
  padding: 8px;
  width: 100%;
  min-height: 100px;
}
